#wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

hr.topline {
	border: solid;
	margin-top: 0px;
	color: rgb(237,125,49);
}

#header {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	background-color: white;
}

#headerInner {
	background-color: white;
}

#headerInner li {
    display: inline;
}

#Title {
	font-size: 80;
	padding-left: 40px;
	color: orange;
	font-style: bold;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: rgb(237,125,49);
}

.titlePic {
	width: 80px;
	padding-bottom: 40px;
}

.buttonPic {
	width: 80px;
	padding-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main {
	text-align: center;
	padding-top: 25px;
}

#main button {
	width: 30%;
	height: 50px;
	background-color: rgb(237,125,49);
	color: white;
	font-size: 25;
	font-style: bold;
	font-family: "Arial Narrow", Arial, sans-serif;
}

#main li {
	padding-left: 10px;
}