#wrapper {
	padding-left: 20px;
	padding-right: 20px;
	/*float: center;*/
}

hr.topline {
	border: solid;
	margin: 0px;
	padding: 0px;
	color: #eb6d20;
}

hr.bottomline {
	margin: 0px;
	padding: 0px;
}

#header {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	background-color: white;
}

#header a {
	padding: 0px;
}

#headerInner {
	background-color: white;
}

#headerInner li {
    display: inline;
}

.title {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
}

.titlePic {
	width: 60px;
	padding-top: 33px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.buttonPic {
	width: 80px;
	padding-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main {
	text-align: center;
	padding-top: 25px;
}

#main button {
	width: 30%;
	height: 50px;
	background-color: #eb6d20;
	color: white;
	font-size: 25;
	font-style: bold;
	font-family: "Arial Narrow", Arial, sans-serif;
}
button {
	width: 30%;
	height: 50px;
	background-color: #eb6d20;
	color: white;
	font-size: 25;
	font-style: bold;
	font-family: "Arial Narrow", Arial, sans-serif;
}

#body button{
	width: 30%;
	height: 50px;
	background-color: #eb6d20;
	color: white;
	font-size: 25;
	font-style: bold;
	font-family: "Arial Narrow", Arial, sans-serif;
}

#main input {
	height: 50px;
}

#main li {
	padding-left: 10px;
}

#header li {
	padding-right: 10px;
}


#scrollingButtons {
	text-align: center;
	padding-top: 25px;
	float: center;
	overflow: scroll;
	height: 200px;
	width: 60%;
	padding-left: 15%;
}

#scrollingButtons button {
	width: 50%;
	float: left;
}

.radioButtonLeft {
	float:left;
}

.radioButtonCenter {
	float:center;
}

.radioButtonRight {
	float:right;
}



